@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* { /* Configuração para zerar todas as configurações padrão da página */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { /* Configuração para preencher a tela toda*/
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
}

[class^="box-"] { /* Configuração geral das boxes*/
    display: grid;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, fr);
}

.box-1{
    background-color: #17A400;
    grid-column: span 4;
    place-items: center;
    padding-top: 110px;
}

img#boneco{
    place-self: end start;
}

.box-2 {
    grid-column: span 8;
    place-items: center;
}


/* Formulário*/

h2{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 70px;
}

form input{
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    background-color:#eef1f5;
}

label{
    font-weight: bolder;
}

#butao{
    margin-top: 60px;
    background-color: #00390d;
    color:white;
    font-weight: bold;
    width: 25%;
    border-radius: 5px;
}
