/*Gerais*/
*{
    margin:0px;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
    color: black;
}


/*Logo*/
#apply-area{
    height: 100vh;  
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    padding: 0px;
    margin: 0px;
}

#posicao-logo{
    background-color: #17A400;
}

#logoP{
    width: 70%;
}

/*Logo*/
.vertical-align {
    position: relative;
    top: 18%;
    left: 47%;
    transform: translateX(-50%);
}

#boneco{
    width: 30%;
    position: absolute;
    bottom: 0px;
    left: 0px;    
}


/*Formulário*/

h2{
    text-align: center;
    font-weight: bolder;
    margin-top: 150px;
    margin-bottom: 30px;
    
}

.col-md #form{
    margin: 0px auto;
}

#divform{
    margin:0 auto;
    padding-top: 100px;
    width: 440px;
}

form{
    display: flex;
    flex-direction: column;
    width: 440px;
    margin-top: 70px;
}

form input{
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    background-color:#eef1f5;
}

.container{
    padding: 0;
}

a{
    color: black;
}

#remember{
    display: inline;
    height: 12.500px;
    margin-right: 150px;
}

label{
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

#butao{
    margin-top: 60px;
    background-color: #00390d;
    color:white;
    font-weight: bold;
    height: 30%;
    cursor: pointer;
}

/* Responsivo */

/*Telas Tablet*/
@media all and (max-width: 1024px){
    .col-md{
        background-color: #17A400;
        margin:0px auto;
        padding: 0px;
    }

    .col-md-4{
        display:none;
    }

    /*Logo Pequena*/
    div#banner
    {
        margin: 0 auto;
        padding-top: 200px;
        width: 390px;
        height: 110px;
        background: transparent url('../img/brand/logoM.png') no-repeat left bottom;

    }

    h2{
        margin-top: 120px;
    }

   
    div#bonecoResp
    {
        margin: 0 auto;
        padding-top: 200px;
        width: 401px;
        height: 381px;
        background: transparent url('../img/brand/boneco_podio401.png') no-repeat left bottom;
    }

    #boneco{
        display: none;
    }

}

/*Telas Celulares*/
@media all and (max-width: 450px){
    div#banner
    {
        margin: 0 auto;
        padding-top: 200px;
        width: 250px;
        height: 70px;
        background: transparent url('../img/brand/logoDC.png') no-repeat left bottom;
    }

    form{
        width: 250px;
    }

    a{
        color: black;
    }

    #butao{
        margin:20px 0 0 0;
    }

    #divform{
        padding: 0;
        width: 80%;
    }

    .container{
        margin: 0 auto;
    }

    #remember{
        margin: 0;
    }

    a{
        display: block;
    }
    /*Logo Pequena*/
    div#banner{
        margin-bottom: 0px;
        padding-top: 150px;
    }

    h2{
        margin-top: 50px;
    }

    #boneco{
        left: 65px;
        width: 220px;
    }

    div#bonecoResp{
        margin: 0 auto;
        padding-top: 200px;
        width: 230px;
        height: 193px;
        background: transparent url('../img/brand/boneco-230.png') no-repeat left bottom;
    }

}

