/*Gerais*/
*{
    margin:0px;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
    color: black;
}


/*Logo*/
#apply-area{
    height: 100vh;  
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    padding: 0px;
    margin: 0px;
}

#posicao-logo{
    background-color: #17A400;
}

#logoP{
    width: 270px;
}


.vertical-align {
    position: relative;
    top: 18%;
    left: 47%;
    transform: translateX(-50%);
}

#boneco{
    position: fixed;
    left: 0px;
    bottom: 0px;  
    width: 32%;
}


/*Formulário*/

h2{
    text-align: center;
    font-weight: bolder;
    margin-top: 150px;
}

.col-md #form{
    margin: 0px auto;
}

#divform{
    margin:0 auto;
    padding: 0px;
    width: 440px;
}

form{
    display: flex;
    flex-direction: column;
    width: 440px;
    margin-top: 70px;
}

form input{
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    background-color:#eef1f5;
}

label{
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

#butao{
    margin-top: 60px;
    background-color: #00390d;
    color:white;
    font-weight: bold;
    width: 30%;
}

/* Responsivo 
@media all and (max-width: 767px){
    .horizontal-align{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    #logoG{
        display:none;
    }


    #logoM{
        display: none;
    }

    #logoP{
        display: unset;
    }

    .col-md-8{
        display: none;
    }
}


@media all and (min-width:768px)and (max-width:1224px){
    .horizontal-align{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    #logoG{
        display:none;
    }

    h2{
        margin-top: 80px;
        font-size: 50px;
    }
    #logoM{
        display: unset;
    }

    #logoP{
        display: none;
    }
    
    form{
        font-size: 34px;
        height: 50px;

    }

    form input{
        height: 470px;

    }

    .col-md-8{
        display: none;
    }
    
}
*/