@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* { /* Configuração para zerar todas as configurações padrão da página */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { /* Configuração para preencher a tela toda*/
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
}

[class^="box-"] { /* Configuração geral das boxes*/
    display: grid;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, fr);
}

.box-1{
    background-color: #17A400;
    grid-column: span 4;
    place-items: center;
    padding-top: 110px;
}

<<<<<<< HEAD
#logoP{
    width: 70%;
}

/*Logo*/
.vertical-align {
    position: relative;
    top: 18%;
    left: 47%;
    transform: translateX(-50%);
}

#boneco{
    width: 30%;
    position: absolute;
    bottom: 0px;

    
=======
img#boneco{
    place-self: end start;
}

.box-2 {
    grid-column: span 8;
    place-items: center;
>>>>>>> d489c38d7766b6860351858596adf8eeeacd9588
}


/* Formulário*/

h2{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 70px;
}

form input{
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    background-color:#eef1f5;
}

label{
    font-weight: bolder;
}

#butao{
    margin-top: 60px;
    background-color: #00390d;
    color:white;
    font-weight: bold;
<<<<<<< HEAD
    width: 30%;
}

/* Responsivo */
@media all and (max-width: 1100px){
    .col-md{
        background-color: #17A400;
        margin:0px auto;
        padding: 0px;
    }

    .col-md-4{
        display:none;
    }

    /*Logo Pequena*/
    div#banner
    {
        margin: 0 auto;
        padding-top: 200px;
        width: 250px;
        height: 70px;
        background: transparent url('../img/brand/logoP.png') no-repeat left bottom;

    }

    h2{
        margin-top: 120px;
    }

    #boneco{
        left:200px;
        width: 50%;
    }
}

@media all and (max-width: 450px){
    form{
        width: 250px;
    }

    #butao{
        margin:20px 0 0 0;
    }

    #divform{
        padding: 0;
        width: 80%;

    }

    /*Logo Pequena*/
    div#banner{
        margin-bottom: 0px;
        padding-top: 150px;
    }

    h2{
        margin-top: 50px;
    }

    #boneco{
        left: 65px;
        width: 240px;
    }
}

=======
    width: 25%;
    border-radius: 5px;
}
>>>>>>> d489c38d7766b6860351858596adf8eeeacd9588
